{% extends "base.jinja2" %}
{% block content %}
    <form class="profile" method="post">
        <div class="profile-info">
            <div class="profile-username" id="profile-username" type="input">@{{ user.username }}</div>
            <div class="profile-fullname" id="profile-fullname" contenteditable="true">{{ user.fullname }}</div>
            <p class="profile-about" id="profile-about" contenteditable="true">{{ user.about }}</p>

            <input type="hidden" name="fullname" id="input-fullname">
            <input type="hidden" name="about" id="input-about">
            <button type="submit" class="btn btn-link" href="/">сохранить</button>
        </div>
    </form>
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="/static/profile.css"/>
    <style>
        body {
            background-image: url("https://avatars.mds.yandex.net/get-zen_doc/1677529/pub_5ca8f5f762221000b31132db_5caa474c1274fb00af67a7e3/scale_2400");
            background-repeat: round;
        }
    </style>
    <script src="/static/profile_edit.js"></script>
{% endblock %}