{% extends "base.jinja2" %}
{% block content %}
    <form class="profile" method="post">
        <div class="profile-info">
            <div class="profile-username" id="profile-username" type="input">@{{ user.username }}</div>
            <div class="profile-fullname" id="profile-fullname" contenteditable="true">{{ user.fullname }}</div>
            <p class="profile-about" id="profile-about" contenteditable="true">{{ user.about }}</p>
            <p class="profile-background-image-url" id="profile-background-image-url" contenteditable="true">
                {% if user.background_image_url != None %}
                    {{ user.background_image_url }}
                {% else %}
                    ссылка на фоновое изображение
                {% endif %}
            </p>

            <input type="hidden" name="fullname" id="input-fullname">
            <input type="hidden" name="about" id="input-about">
            <input type="hidden" name="background_image_url" id="input-background-image-url">
            <button type="submit" class="btn btn-link" href="/">сохранить</button>
        </div>
    </form>
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="/static/profile.css"/>
    <style>
        body {
            background-image: url("{{ user.background_image_url }}");
            background-repeat: round;
        }
    </style>
    <script src="/static/profile_edit.js"></script>
{% endblock %}