{% extends "base.jinja2" %}
{% block content %}
    <div class="profile">
        <div class="profile-info">
            <div class="profile-username">@{{ user.username }}</div>
            <div class="profile-fullname">{{ user.fullname }}</div>
            <p class="profile-about">{{ user.about }}</p>
            {% if user == current_user %}
                <a class="btn btn-link" href="/profile/edit">редактировать</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="/static/profile.css"/>
    <style>
        body {
            background-image: url("{{ user.background_image_url }}");
            background-repeat: round;
        }
    </style>
{% endblock %}